* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v114_521 {
  width: 100%;
  height: 1095px;
  background: url("../images/v114_521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_520 {
  width: 100%;
  height: 1080px;
  background: url("../images/v114_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_15 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_492 {
  width: 253px;
  height: 101px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 687px;
}
.v114_477 {
  width: 219px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 748px;
  left: 705px;
  font-family: Indie Flower;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v114_475 {
  width: 54px;
  height: 61px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 1173px;
}
.v114_472 {
  width: 74px;
  height: 56px;
  background: url("../images/v114_472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 414px;
  overflow: hidden;
}
.v114_473 {
  width: 74px;
  height: 56px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_448 {
  width: 665px;
  height: 13px;
  background: url("../images/v114_448.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 545px;
  left: 462px;
  overflow: hidden;
}
.v114_449 {
  width: 665px;
  height: 13px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_404 {
  width: 63px;
  height: 52px;
  background: url("../images/v114_404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 1678px;
  transform: rotate(-170deg);
  overflow: hidden;
}
.v114_405 {
  width: 63px;
  height: 52px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  transform: rotate(-170deg);
}
.v114_381 {
  width: 63px;
  height: 19px;
  background: rgba(81,74,74,0.949999988079071);
  opacity: 1;
  position: absolute;
  top: 810px;
  left: 1740px;
  border: 1px solid rgba(81,74,74,0.949999988079071);
}
.v114_382 {
  width: 15px;
  height: 24px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 713px;
  left: 1860px;
  border: 1px solid rgba(255,255,255,1);
}
.v114_383 {
  width: 9px;
  height: 15px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 832px;
  left: 1723px;
  border: 1px solid rgba(255,255,255,1);
}
.v114_384 {
  width: 15px;
  height: 24px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 803px;
  left: 1712px;
  border: 1px solid rgba(255,255,255,1);
}
.v114_385 {
  width: 135px;
  height: 196px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 651px;
  left: 1760px;
}
.v114_386 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 675px;
  left: 1865px;
}
.v114_387 {
  width: 25px;
  height: 111px;
  background: rgba(80,74,74,0.949999988079071);
  opacity: 1;
  position: absolute;
  top: 737px;
  left: 1829px;
  border: 1px solid rgba(81,74,74,0.949999988079071);
}
.v114_388 {
  width: 77px;
  height: 121px;
  background: rgba(194,223,246,1);
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 1775px;
  border: 1px solid rgba(194,223,246,1);
}
.v114_389 {
  width: 45px;
  height: 49px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 740px;
  left: 1783px;
  border: 1px solid rgba(255,215,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v114_390 {
  width: 2px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 1819px;
  border: 1px solid rgba(255,255,255,1);
}
.v114_391 {
  width: 50px;
  height: 63px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 727px;
  left: 1782px;
}
.v114_495 {
  width: 27px;
  height: 27px;
  background: rgba(29,57,148,1);
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 754px;
  border: 3px solid rgba(0,0,0,1);
  transform: rotate(-29deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v114_496 {
  width: 4px;
  height: 2px;
  background: rgba(29,57,148,1);
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 763px;
  border: 3px solid rgba(0,0,0,1);
  transform: rotate(-25deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v114_497 {
  width: 16px;
  height: 21px;
  background: rgba(29,57,148,1);
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 755px;
  border: 3px solid rgba(0,0,0,1);
  transform: rotate(-29deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v114_498 {
  width: 38px;
  height: 36px;
  background: rgba(29,57,148,1);
  opacity: 1;
  position: absolute;
  top: 867px;
  left: 734px;
  border: 3px solid rgba(0,0,0,1);
  transform: rotate(-29deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v114_21 {
  width: 459px;
  height: 156px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 138px;
}
.v114_22 {
  width: 435px;
  height: 134px;
  background: url("../images/v114_22.png");
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 184px;
  border: 6px solid rgba(2,0,0,1);
}
.v114_451 {
  width: 40px;
  height: 46px;
  background: url("../images/v114_451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 1132px;
  overflow: hidden;
}
.v114_453 {
  width: 40px;
  height: 46px;
  background: url("../images/v114_453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_464 {
  width: 19px;
  height: 17px;
  background: rgba(81,74,74,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  border: 0px solid rgba(81,74,74,0.6499999761581421);
}
.v114_465 {
  width: 22px;
  height: 22px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v114_466 {
  width: 13px;
  height: 10px;
  background: rgba(210,180,140,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 5px;
  border: 1px solid rgba(0,0,0,1);
}
.v114_467 {
  width: 40px;
  height: 46px;
  background: url("../images/v114_467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_468 {
  width: 17px;
  height: 14px;
  background: rgba(255,182,193,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 20px;
  border: 1px solid rgba(0,0,0,1);
}
.v114_469 {
  width: 40px;
  height: 46px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_16 {
  width: 1px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 1687px;
  overflow: hidden;
}
.v114_24 {
  width: 100%;
  height: 10px;
  background: url("../images/v114_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 138px;
  overflow: hidden;
}
.v114_25 {
  width: 100%;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_502 {
  width: 100%;
  height: 2px;
  background: url("../images/v114_502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 985px;
  left: 142px;
  overflow: hidden;
}
.v114_503 {
  width: 100%;
  height: 2px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_28 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 988px;
  left: 138px;
  font-family: Indie Flower;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v114_364 {
  width: 439px;
  height: 338px;
  background: url("../images/v114_364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 1382px;
  overflow: hidden;
}
.v114_360 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 325px;
}
.v114_362 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 325px;
}
.v114_358 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 233px;
}
.v114_356 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 233px;
}
.v114_344 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 145px;
}
.v114_354 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 147px;
}
.v114_352 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 147px;
}
.v114_346 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 145px;
}
.v114_340 {
  width: 439px;
  height: 338px;
  background: url("../images/v114_340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_338 {
  width: 13px;
  height: 11px;
  background: rgba(194,223,246,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 376px;
  border: 0px solid rgba(0,0,0,1);
}
.v114_326 {
  width: 16px;
  height: 13px;
  background: url("../images/v114_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 376px;
  overflow: hidden;
}
.v114_327 {
  width: 13px;
  height: 12px;
  background: url("../images/v114_327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v114_328 {
  width: 13px;
  height: 12px;
  background: url("../images/v114_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_329 {
  width: 13px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_330 {
  width: 5px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 12px;
  border: 1px solid rgba(0,0,0,1);
}
.v114_331 {
  width: 9px;
  height: 11px;
  background: url("../images/v114_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v114_332 {
  width: 9px;
  height: 11px;
  background: url("../images/v114_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_333 {
  width: 9px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_334 {
  width: 3px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: Indie Flower;
  font-weight: Regular;
  font-size: 1px;
  opacity: 1;
  text-align: left;
}
.v114_31 {
  width: 439px;
  height: 338px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v114_300 {
  width: 61px;
  height: 21px;
  background: url("../images/v114_300.png");
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 174px;
  border: 0.5px solid rgba(2,0,0,1);
}
.v114_299 {
  width: 345px;
  height: 194px;
  background: url("../images/v114_299.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 42px;
  border: 0px solid rgba(255,255,255,1);
}
.v114_348 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 325px;
}
.v114_350 {
  width: 52px;
  height: 3px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 325px;
}
.v114_408 {
  width: 318px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 138px;
  left: 1492px;
  font-family: Indie Flower;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v114_414 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 278px;
  left: 1498px;
  font-family: Indie Flower;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v114_439 {
  width: 687px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 394px;
  left: 381px;
  font-family: Indie Flower;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v114_442 {
  width: 687px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 492px;
  left: 471px;
  font-family: Indie Flower;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v114_441 {
  width: 798px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 367px;
  font-family: Indie Flower;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v114_471 {
  width: 8px;
  height: 7px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 1126px;
  border: 0px solid rgba(255,0,0,1);
}
.v114_505 {
  width: 161px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 989px;
  left: 1651px;
  overflow: hidden;
}
.v114_506 {
  width: 131px;
  height: 31px;
  background: url("../images/v114_506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 14px;
  overflow: hidden;
}
.v114_507 {
  width: 22px;
  height: 22px;
  background: rgba(0,0,0,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 50px;
}
.v114_508 {
  width: 22px;
  height: 28px;
  background: rgba(0,0,0,0.8999999761581421);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_509 {
  width: 22px;
  height: 28px;
  background: rgba(0,0,0,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
}
.v114_510 {
  width: 35px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 81px;
}
.v114_511 {
  width: 34px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 81px;
}
.v114_512 {
  width: 46px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 81px;
}
.v114_513 {
  width: 9px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 121px;
}
