@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-size: large;
    font-weight: 500;
    margin: 0;
    position: relative;
    font-family: "Titillium Web", sans-serif;
    background-color: rgb(26, 33, 48);
    height: 100vh;
}

.nav-container {
    z-index: 1000;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
    color: rgb(253, 255, 226);
    margin-bottom: 2%;

}

.nav-list a {
    display: inline-block;
    text-decoration: none;
    color: rgb(253, 255, 226);
    opacity: 0.5;
    padding-left: 15px;
    transition:  0.2s;
}

.nav-list a:hover {
    transform: scaleX(1.1);
    opacity: 1;
    transition: transform 0.4s ease, opacity 0.3s ease;
}

.nav-list .enum {
    color: rgb(131, 180, 255);
}



.title{
    font-size: large;
    color: rgb(253, 255, 226);
    opacity: 0.7;

}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0px 0px 8cap rgba(0,0,0,0.2);
    margin-bottom: 3%;

}

.flex-item{
    flex:1;
    color: rgb(253, 255, 226);
    
}

.flex-item >p{
    padding-left: 20px;
    padding-right: 20px;
}

.language-java{
    font-family: "Titillium Web", sans-serif;
    border-radius: 6px;
    margin-left: 2%;
}

