:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

@media (max-width: 1280px) and (max-height: 720px) {
  body {
    transform: scale(0.6);
    transform-origin: top left;
    width: 100vw;
    height: 80vh;

  }
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 1095.987px;
  margin: 0 auto;
}
.rectangle {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 1;
}
.flex-column-dabe {
  position: absolute;
  width: 53.52%;
  height: 73.39%;
  top: 3.71%;
  left: 7.2%;
  font-size: 0px;
  z-index: 39;
}
.die-grundlagen-programmierens {
  display: block;
  position: relative;
  height: 58px;
  margin: 572.072px 0 0 229.507px;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;

}


.download {
  display: flex;
  position: absolute;
  left: 850px;
  top: 750px;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  z-index: 100000;
}

.download2 {
  display: flex;
  position: absolute;
  left: 450px;
  top: 750px;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  z-index: 100000;
}
.vector {
  position: relative;
  width: 253.558px;
  height: 101.218px;
  margin: 61.334px 0 0 549.239px;
  background-size: 100% 100%;
}

.vector-1 {
  position: absolute;
  width: 44.67%;
  height: 19.7%;
  top: 0;
  left: 0;
  background: url(./assets/images/aed4a3a2-5139-4850-b057-8d04fe7ca9c0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 25;
}
.vector-2 {
  position: absolute;
  width: 43.01%;
  height: 17.78%;
  top: 4.08%;
  left: 4.21%;
  background: url(./assets/images/b372bbb2-416e-4d42-ad31-3a9de956c514.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 687.07px;
  height: 116px;
  top: 354.376px;
  left: 243.54px;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58.36px;
  text-align: left;
  text-overflow: initial;
  z-index: 37;
  overflow: hidden;
}
.spielerisch-kreativ-praxisnah {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 70px;
  top: 452.881px;
  left: 333.414px;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 70px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.flex-column {
  position: absolute;
  width: 90.81%;
  height: 82.33%;
  top: 12.8%;
  left: 7.2%;
  font-size: 0px;
  z-index: 41;
}
.mockup-download {
  display: block;
  position: relative;
  height: 58px;
  margin: 0 0 0 1353.979px;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.vector-3 {
  position: relative;
  width: 1683.145px;
  height: 10.563px;
  margin: 30.496px 0 0 0;
  background: url(./assets/images/0a325bb2-4ef6-419b-86b5-ab58f8f2b249.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}
.vector-4 {
  position: relative;
  width: 1683.145px;
  height: 2.639px;
  margin: 748.512px 0 0 4.664px;
  background: url(./assets/images/cf3ac195-1381-4111-b992-a60b9c4c3886.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.hhu-logo {
  position: relative;
  width: 161px;
  height: 38px;
  margin: 1px 0 0 1512.976px;
  z-index: 41;
  overflow: hidden;
}
.g {
  position: relative;
  width: 131.012px;
  height: 31.807px;
  margin: 6.193px 0 0 14.994px;
  z-index: 42;
  overflow: visible auto;
}
.flex-row-a {
  position: relative;
  width: 127.713px;
  height: 29.239px;
  margin: 0 0 0 0;
  z-index: 48;
}
.path {
  position: absolute;
  width: 17.33%;
  height: 98.05%;
  top: 0;
  left: 0;
  background: url(./assets/images/09c95f5a-812d-4b4e-9982-348a9142a953.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 44;
}
.path-5 {
  position: absolute;
  width: 17.33%;
  height: 98.05%;
  top: 0;
  left: 19.96%;
  background: url(./assets/images/52a623ef-5150-4d79-86c9-693392950bbd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 45;
}
.path-6 {
  position: absolute;
  width: 36.33%;
  height: 18.37%;
  top: 22.74%;
  left: 63.67%;
  background: url(./assets/images/d328554c-dde2-45a3-9848-c9dc487e61fe.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.path-7 {
  position: absolute;
  width: 17.33%;
  height: 75.78%;
  top: 24.22%;
  left: 39.77%;
  background: url(./assets/images/9451e195-8fb2-4804-bfb2-fdedaa3e7e20.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 43;
}
.path-8 {
  position: absolute;
  width: 27.34%;
  height: 18.24%;
  top: 51.62%;
  left: 63.66%;
  background: url(./assets/images/b620a56d-90b4-4afb-b298-928c02daa7ca.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 47;
}
.path-9 {
  position: absolute;
  width: 27.77%;
  height: 18.31%;
  top: 80.12%;
  left: 63.65%;
  background: url(./assets/images/9fef73c1-8453-489b-bda4-d703b8515e60.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 46;
}
.path-a {
  position: relative;
  width: 9.163px;
  height: 8.085px;
  margin: -5.517px 0 0 121.849px;
  background: url(./assets/images/fd73695f-00f8-414a-9b10-142ec9ff5711.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 49;
}
.preview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 72.812px;
  top: 140.443px;
  left: 1352.281px;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58.36px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(7.83deg);
  z-index: 36;
}
.group {
  position: absolute;
  width: 4.1%;
  height: 7.08%;
  top: 19.36%;
  left: 84.73%;
  background: url(./assets/images/7c4f2038-0ffb-400c-8657-75e7a40a1c79.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 9;
}
.group-b {
  position: absolute;
  width: 25.43%;
  height: 38.69%;
  top: 26.41%;
  left: 71.39%;
  background: url(./assets/images/0de8d6c7-985a-41c7-aff5-d4a76390bc72.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.group-c {
  position: absolute;
  width: 5.36%;
  height: 9.99%;
  top: 34.6%;
  left: 13.97%;
  background: url(./assets/images/5087e236-92b9-41ec-976c-3eb0ee9b8dc6.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.group-d {
  position: absolute;
  width: 50.071px;
  height: 54.622px;
  top: 374.403px;
  left: 983.489px;
  background: url(./assets/images/a3e5b08f-abf9-4306-9334-a5966b304e9d.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.vector-e {
  position: relative;
  width: 10.075px;
  height: 9.558px;
  margin: 36.356px 0 0 3.184px;
  background: url(./assets/images/6f3fece2-f995-4409-9ccb-500f687a4569.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
}
.vector-f {
  position: absolute;
  width: 38.16%;
  height: 1.47%;
  top: 45.85%;
  left: 18.62%;
  background: url(./assets/images/f1e23d74-9c95-4142-a568-adc1fc3e7fc0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.vector-10 {
  position: absolute;
  width: 4.7%;
  height: 9.21%;
  top: 46.19%;
  left: 57.17%;
  background: url(./assets/images/3a319a53-456b-4199-9d74-c494583b4f40.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}
.vector-11 {
  position: absolute;
  width: 10.58%;
  height: 27.75%;
  top: 57.74%;
  left: 89.42%;
  background: url(./assets/images/04ae94d5-8c9c-4e60-88ba-63ab3b701c47.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.flex-column-c {
  position: absolute;
  width: 11.89%;
  height: 27.62%;
  top: 9.58%;
  left: 84.06%;
  z-index: 15;
}
.vector-12 {
  position: relative;
  width: 11.397px;
  height: 13.509px;
  margin: 0 0 0 9.986px;
  background: url(./assets/images/a6c58402-879c-4955-961c-d0aed2fcac85.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.vector-13 {
  position: relative;
  width: 21.942px;
  height: 30.453px;
  margin: 24.191px 0 0 0;
  background: url(./assets/images/347ed3a2-4d36-4c4c-918f-741e94d1467a.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.flex-column-fe {
  position: absolute;
  width: 117.746px;
  height: 157.088px;
  top: 48.266px;
  left: 37.079px;
  z-index: 17;
}
.vector-14 {
  position: absolute;
  width: 108.098px;
  height: 149.227px;
  top: 0;
  left: 2.257px;
  background: url(./assets/images/b110dcb5-6d92-4f59-bd9f-5b3d818ad04d.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.vector-15 {
  position: relative;
  width: 65.9px;
  height: 82.633px;
  margin: 28.009px 0 0 26.099px;
  background: url(./assets/images/622319e9-58bd-45e6-884e-7882a0e9e1a5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
  overflow: visible auto;
}
.vector-16 {
  position: relative;
  width: 56.289px;
  height: 66.787px;
  margin: 12.325px 0 0 5.178px;
  background: url(./assets/images/a3b7d623-a9a7-402b-8af8-72ccf6cd75e3.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
  overflow: visible auto;
}
.vector-17 {
  position: relative;
  width: 3.75px;
  height: 4.118px;
  margin: 15.354px 0 0 50.457px;
  background: url(./assets/images/d89ffa7c-8b78-401f-8530-bd037f1a476b.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.vector-18 {
  position: absolute;
  width: 58.278px;
  height: 116.891px;
  top: 37.525px;
  left: 59.467px;
  background: url(./assets/images/d1e9a497-6656-4650-9823-406ab78ee22c.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.vector-19 {
  position: absolute;
  width: 63.461px;
  height: 46.62px;
  top: 110.468px;
  left: 0;
  background: url(./assets/images/4d561a0d-9ab2-4bb9-9869-dabead789495.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.vector-1a {
  position: absolute;
  width: 21.942px;
  height: 30.453px;
  top: 151.478px;
  left: 7.06px;
  background: url(./assets/images/0fdac42c-1afc-4864-9f66-ceafd2bc298a.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.vector-1b {
  position: absolute;
  width: 13.465px;
  height: 19.115px;
  top: 181.05px;
  left: 21.539px;
  background: url(./assets/images/c4d4b5d6-9fa5-4585-9e09-2f94c0f9ea6f.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.rectangle-1c {
  position: absolute;
  width: 1.186px;
  height: 20.852px;
  top: 569.852px;
  left: 1548.745px;
  background: url(./assets/images/58925ef3-3794-476f-bac9-035cd90b7cba.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.vector-1d {
  position: absolute;
  width: 2.22%;
  height: 4.18%;
  top: 77.78%;
  left: 35.34%;
  background: url(./assets/images/46de5aef-53e3-49e8-8867-8ba6c05ef31f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.vector-1e {
  position: absolute;
  width: 1.47%;
  height: 2.95%;
  top: 79.58%;
  left: 35.41%;
  background: url(./assets/images/06cb3c6c-f698-4c06-9935-7e786a955c77.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 23;
}
.vector-1f {
  position: relative;
  width: 5.549px;
  height: 4.603px;
  margin: 1.298px 0 0 8.101px;
  background: url(./assets/images/c8c4723e-93e1-4770-9710-2e843e9bc8b9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
}
.vector-20 {
  position: absolute;
  width: 3.01%;
  height: 5.59%;
  top: 79.87%;
  left: 34.22%;
  background: url(./assets/images/7f809c22-a53c-4778-9ed5-7d9c117fe53d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.digital-future-challenge {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1042.126px;
  height: 107.492px;
  top: 988.495px;
  left: 138.298px;
  color: #000000;
  font-family: Indie Flower, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 58.36px;
  text-align: left;
  z-index: 33;
}
