@media(min-width: 319px) and (max-width:480px){
    body {
        height: 100vh;
        width: 100%;
        margin: 0;
    }

    *{
        font-size: small;
    }
    

    .project-container {
        display: flex;
        flex-direction: column;
    }
    i{
        scale: 0.5;
    }

    .lead h1{

        margin-left: 0;
        margin-right: 0;
    }

    .project-grid-container{
        margin-bottom: 6%;
    }

    .techstack{
        margin-bottom: 3%;
    }

    p{
        display: inline;
        justify-content: left;
        align-items: center;
        text-align: left;
    }

    .grid-item-desc span{
        margin: 3%;
    }

    .stars{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .stars span{
        font-size: x-small;
    }

}


.projects {
    overflow: hidden;

}

.project-container {
    color: rgb(253, 255, 226);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;

}
.project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 15px;
}

.project-item {
    display: block;
    flex: 1;
    color: rgb(253, 255, 226);
    margin-left: 3%;
    margin-right: 3%;
}

.project-item > p
{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgb(253, 255, 226);
}

.project-item-img {
    flex: 1;
    max-width: 33.33%;
    padding: 10px;
}

.project-item-img img {
    display: block;
    height: auto;
    width: 100%;
}

.techstack{
    margin-right: 3%;
    margin-left: 3%;
}

.techstack table {
    display: flex;
    flex-direction: column;
}

.techstack table, th, td {
    border: 0.5px solid rgb(253, 255, 226);
    padding: 15px;
    box-sizing: content-box;
}


.lead{
    margin-left: 3%;
    margin-right: 3%;
}


.project-grid-container .grid-item:hover  {
    transform: scale(1.1);
    opacity: 1;
}

.project-grid-container:hover > .grid-item:not(:hover) {
    transform: scale(0.7);
    filter: blur(10px);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease;

}
.project-grid-container:active .grid-item:not(:hover) {
    transform: scale(1);
    filter: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}